.texts{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.menus{
    margin-top: 5px;
}

.icons{
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.icons:hover{
    color:#499ef3;
}

.active{
    color:#499ef3;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #666;;
    padding: 0 0 15px 0;
}