<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.demo.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="springboot.demo.model.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
    <result column="bio" jdbcType="VARCHAR" property="bio" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, token, account_id, gmt_create, gmt_modified, bio, avatar_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `user`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from `user`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="springboot.demo.model.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user` (`name`, token, account_id, 
      gmt_create, gmt_modified, bio, 
      avatar_url)
    values (#{name,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=BIGINT}, #{gmtModified,jdbcType=BIGINT}, #{bio,jdbcType=VARCHAR}, 
      #{avatarUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="springboot.demo.model.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="bio != null">
        bio,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=BIGINT},
      </if>
      <if test="bio != null">
        #{bio,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="springboot.demo.model.User">
    <!--@mbg.generated-->
    update `user`
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=BIGINT},
      </if>
      <if test="bio != null">
        bio = #{bio,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="springboot.demo.model.User">
    <!--@mbg.generated-->
    update `user`
    set `name` = #{name,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_modified = #{gmtModified,jdbcType=BIGINT},
      bio = #{bio,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-04-20-->
  <select id="selectAllByToken" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `user`
    where token=#{token,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-20-->
  <select id="selectByToken" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `user`
    where token=#{token,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-20-->
  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `user`
    where id=#{id,jdbcType=BIGINT}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-20-->
  <select id="selectByAccountId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `user`
    where account_id=#{accountId,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-20-->
  <update id="updateById">
    update `user`
    <set>
      <if test="updated.name != null">
        name = #{updated.name,jdbcType=VARCHAR},
      </if>
      <if test="updated.token != null">
        token = #{updated.token,jdbcType=VARCHAR},
      </if>
      <if test="updated.gmtModified != null">
        gmt_modified = #{updated.gmtModified,jdbcType=BIGINT},
      </if>
      <if test="updated.avatarUrl != null">
        avatar_url = #{updated.avatarUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id=#{id,jdbcType=BIGINT}
  </update>
</mapper>